@import "bootstrap-icons/font/bootstrap-icons.css";

/* Style du drawer */
.drawer {
    position: fixed;
    top: 0;
    left: 0; /* pour un tiroir à gauche */
    width: 250px;  /* largeur ajustable selon tes besoins */
    height: 100%;
    background: #fff;
    z-index: 1050; /* supérieur à la plupart des éléments */
    overflow: auto;
    transition: transform 0.3s ease;
}

/* Par défaut, le tiroir est caché (déplacé vers la gauche) */
.drawer.slide {
    transform: translateX(-100%);
}

/* Classe pour afficher le tiroir */
.drawer.show {
    transform: translateX(0);
}

body, html {
    margin: 0;
    padding: 0;
}

.form-signin {
    max-width: 330px;
    padding: 1rem;
}

#nav {
    background-color: #2077C5;
    list-style-type: none;
    text-align: center;
    margin:0;
}

#utbmlogo:hover {
    background-color: #2077C5 !important;
}

#nav li {
    display: inline-block;
    margin: 0;
    width: auto;
    height: auto;
}

.dropdown-menu {
    z-index: -1;
}

#nav a {
    color: #FFFFFF;
    text-decoration: none;
}

#nav a:hover {
    color: #000000;
    background-color: #FFFFFF;
}

#nav img {
    height: 60px;
}

hr {
    width: 90%;
    color: gray;
}

.navbar {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
}

@media (max-width: 801px) {
    .navbar-collapse {
        text-align: right;

    }

    .navbar-nav {
        display: inline-block;
        text-align: right;
        width: 100%;

    }

    .navbar-nav .nav-item {
        display: block;
        text-align: right;
        width: 100%;
    }

    #nav li {
        display: block;
        width: 100%;
        text-align: right;

    }
}

.nav-link {
    height: 100%; !important;
    padding: 24px;

}

/* Style du drawer */
.drawer {
    position: fixed;
    top: 0;
    left: 0; /* pour un tiroir à gauche */
    width: 250px;  /* largeur ajustable */
    height: 100%;
    background: #fff;
    z-index: 1100; /* supérieur à la barre de navigation et dropdown */
    overflow-y: auto;
    transition: transform 0.3s ease;
}
/* Par défaut, le tiroir est caché en le décalant vers la gauche */
.drawer.slide {
    transform: translateX(-100%);
}
/* Classe pour afficher le tiroir */
.drawer.show {
    transform: translateX(0);
}

.navbar-collapse {
    flex-wrap: nowrap;
}

.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1040;
    opacity: 0;
    display: none;
    transition: opacity 0.3s ease-in-out;
}

.modal-backdrop.show {
    display: block;
    opacity: 1;
}
